// 黄黑色版element-plus

* {
  font-size: 16px;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  // 覆盖 element-plus 中的变量声明
  --el-font-size-base: 16px;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

.el-checkbox {
  --el-checkbox-font-size: 16px;
}

.el-form-item__error {
  font-size: 14px;
}

:root {
  --el-color-primary: #ffd04b;
  --el-text-color-primary: #ddd;
  --el-text-color-regular: #ccc;
  --el-button-font-color: #ffffff;
  --el-border-color-light: rgba(0, 0, 0, 0.7);
}

.el-button--primary {
  --el-button-background-color: #ffd04b;
  --el-button-border-color: #ffd04b;
  --el-button-hover-color: #ffd04b;
  --el-button-active-font-color: #999;
  --el-button-font-color: #333;
  --el-button-active-background-color: #ffcf4be3;
  --el-button-active-border-color: #ffcf4be3;
}

.el-input {
  --el-input-font-color: #333;
}

.el-popper {
  background-color: rgba(0, 0, 0, 0.6) !important;
  .el-menu-item:hover {
    background-color: rgba(0, 0, 0) !important;
  }
}
